/*********
 * Fonts *
 *********/
@font-face {
    font-family: Bitter;
    src: url(../fonts/Bitter.eot)
}

@font-face {
    font-family: Bitter;
    src: url(../fonts/Bitter.ttf);
}

@font-face {
    font-family: Bitter-Bold;
    src: url(../fonts/Bitter-Bold.eot)
}

@font-face {
    font-family: Bitter-Bold;
    src: url(../fonts/Bitter-Bold.ttf);
}

@font-face {
    font-family: Bitter-Italic;
    src: url(../fonts/Bitter-Italic.eot)
}

@font-face {
    font-family: Bitter-Italic;
    src: url(../fonts/Bitter-Italic.ttf);
}

@font-face {
    font-family: Segoeui;
    src: url(../fonts/Segoeui.eot)
}

@font-face {
    font-family: Segoeui;
    src: url(../fonts/Segoeui.ttf);
}

@font-face {
    font-family: Segoeui-Bold;
    src: url(../fonts/Segoeui-Bold.eot)
}

@font-face {
    font-family: Segoeui-Bold;
    src: url(../fonts/Segoeui-Bold.ttf);
}

@font-face {
    font-family: Segoeui-Italic;
    src: url(../fonts/Segoeui-Italic.eot)
}

@font-face {
    font-family: Segoeui-Italic;
    src: url(../fonts/Segoeui-Italic.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0 none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block
}

mark, rp, rt, ruby, summary, time {
    display: inline
}

ul {
    list-style: none
}

a {
    text-decoration: underline;
    color: #59b7c2;
}

a:hover, a:active {
    text-decoration: none;
}

nav a {
    text-decoration: none
}

b, strong {
    font-family: Segoeui-Bold, Arial, Verdana, serif;
}

p, b, li, strong {
    font-size: 13px;
    line-height: 20px;
}

hr {
    background: #e0e0e0;
    height: 1px
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Myriad Pro, Verdana, serif;
    font-weight: normal;
    color: #444;
    line-height: 1;
    padding-bottom: 23px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 14px;
}

/*********
 * Forms *
 *********/
/*** checkbox ***/
.niceCheck {
    width: 16px;
    height: 17px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    background: url(../img/check-bg.png) left top no-repeat;
}

.niceChecked {
    background-position: left bottom;
}

.niceCheck input {
    margin-left: -20px !important;
}

/*** radio ***/
.niceRadio {
    width: 16px;
    height: 17px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    background: url(../img/radio-bg.png) left top no-repeat;
}

.radioChecked {
    background-position: left bottom;
}

.niceRadio input {
    margin-left: -20px;
}

/*** select ***/
select,
.selectBox {
    display: inline-block;
    position: relative;
    height: 33px;
    padding-left: 10px;
    font: normal 12px/33px Segoeui, Arial, Verdana, serif;
    color: #444;
    text-decoration: none !important;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

.selectBox:hover {
    color: #000;
    text-decoration: none;
}

.selectBox-label {
    padding: 0 30px 0 0px;
}

.selectBox-arrow {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 33px;
    overflow: hidden;
    cursor: pointer;
    background: url(../img/select-button.png) 50% 50% no-repeat #f5f7f9;
}

.selectBox-arrow:hover {
    background: url(../img/select-button.png) 50% 50% no-repeat #eff7ff;
}

.selectBox-dropdown-menu {
    position: absolute;
    list-style: none;
    font: normal 12px/33px Segoeui, Arial, Verdana, serif;
    color: #777;
    background: #fff;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

.selectBox-dropdown-menu li {
    display: block;
}

.selectBox-dropdown-menu li a {
    display: block;
    padding: 0 2px 0 10px;
    margin: 0;
    color: #777;
    text-decoration: none;
    cursor: pointer;
}

.selectBox-dropdown-menu li + li a {
    border-top: 1px solid #e0e0e0;
}

.selectBox-dropdown-menu li a:hover {
    color: #444;
    text-decoration: none;
    background: #eff7ff;
}

/*** button ***/
button,
input[type="submit"] {
    height: 35px;
    display: block;
    background: #59b7c2;
    color: #fefefe;
    text-align: center;
    font: normal 11px Segoeui, Myriad Pro, Verdana, serif;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background: #2ab4c4;
    box-shadow: 0px 0px 2px #2ab4c4;
    -moz-box-shadow: 0px 0px 2px #2ab4c4;
    -webkit-box-shadow: 0px 0px 2px #2ab4c4;
}

button.click,
input[type="submit"].click,
input[type="submit"]:focus {
    background: #2baab9;
    box-shadow: inset 0px 0px 10px #1d8d9b;
    -moz-box-shadow: inset 0px 0px 10px #1d8d9b;
    -webkit-box-shadow: inset 0px 0px 10px #1d8d9b;
}

/*** Input **/
input[type="email"],
input[type="text"] {
    height: 33px;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #777;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #59b7c2;
    box-shadow: 0px 0px 4px #59b7c2;
    -moz-box-shadow: 0px 0px 4px #59b7c2;
    -webkit-box-shadow: 0px 0px 4px #59b7c2;
}

/*** textarea **/
textarea {
    height: 83px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #777;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

/*** Block Quotes **/
.blockquote {
    padding: 0 0 0 59px;
    background: url(../img/bg_blockquote.png) no-repeat 8px 4px;
}

blockquote {
    border-left: 1px solid #e0e0e0;
    padding: 0 0 0 25px;
    color: #444;
    font: italic 16px/25px Bitter-Italic, Myriad Pro, Verdana, serif;
}

/*** IMG ***/
.alignleft,
.alignright {
    border: 1px solid #e0e0e0;
    margin: 0 25px 25px 0;
    float: left;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

.alignright {
    margin: 0 0 25px 25px;
    float: right;
}

.aligncenter {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.alignleft img,
.alignright img {
    padding: 8px 8px 4px;
}

.img_description {
    font: italic 12px/17px Bitter-Italic, Myriad Pro, Verdana, serif;
    color: #777;
    width: 206px;
    padding: 5px 10px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

/*** Table ***/
table {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid #e0e0e0;
    font: normal 12px Segoeui, Arial, Verdana, serif;
}

td {
    height: 49px;
    vertical-align: middle;
    border-bottom: 1px solid #e0e0e0;
    border-collapse: collapse;
}

th {
    height: 49px;
    vertical-align: middle;
    border-bottom: 1px solid #a8dade;
    font: normal 13px Bitter, Myriad Pro, Verdana, serif;
}

td.bg, th.bg {
    background: #f7f7f7;
}

/*************
 * Structure *
 *************/
body {
    margin: 0 auto;
    color: #444;
    background: #fff;
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
    background: url(../img/bg_header.png) repeat-x center top;
}

.surely {
    color: #c3293a;
    margin: 0 3px;
    vertical-align: top;
}

/*******
 * Top *
 *******/
#top {
    height: 45px;
}

.phone_top {
    padding: 0 0 0 24px;
    margin: 9px 0 0 0;
    background: url(../img/bg_phone_top.png) no-repeat left center;
    font: normal 11px/36px Segoeui, Arial, Verdana, serif;
}

.welcome {
    margin: 9px 0 0 0;
    color: #777;
    font: normal 12px/36px Bitter, Myriad Pro, Verdana, serif;
}

.welcome a {
    text-decoration: none
}

.welcome a:hover {
    text-decoration: underline
}

.valuta, .lang {
    float: right;
}

.valuta ul, .lang ul {
    list-style: none;
}

.valuta ul li, .lang ul li {
    float: left;
}

.valuta ul li a,
.lang ul li a {
    margin: 9px 0 0 1px;
    width: 27px;
    height: 36px;
    background: #e6e9ed;
    color: #444;
    display: block;
    text-align: center;
    float: left;
    line-height: 36px;
    text-decoration: none;
}

.valuta ul li.curent a,
.lang ul li.curent a {
    margin: 0px 0 0 1px;
    padding: 9px 0 0 0;
    background: #59b7c2 !important;
    color: #fff;
    text-decoration: none;
    font: bold 11px/36px Segoeui-Bold, Arial, Verdana, serif;
    float: left;
}

.lang {
    margin: 0 23px 0 0
}

.lang ul li a {
    width: 36px;
    font: normal 11px/36px Segoeui, Arial, Verdana, serif;
}

.lang ul li a:hover,
.valuta ul li a:hover {
    background: #d5e4f1;
    text-decoration: none;
}

.valuta ul li.curent a {
    font: bold 13px/36px Bitter-Bold, Arial, Verdana, serif;
}

.valuta ul li a {
    font: normal 13px/36px Bitter, Arial, Verdana, serif;
}

/**********
 * Header *
 **********/
header#branding {
    width: 100%;
    height: 125px;
    margin: 35px 0 0 0;
}

#site_logo {
    margin: 0 0 0 -10px;
    padding: 0;
}

#site_description {
    font: italic 11px/16px Bitter-Italic, Myriad Pro, Verdana, serif;
    color: #aaa;
}

form.search {
    margin: 16px 0 0 0;
}

form.search .entry_form {
    width: 193px;
    height: 33px;
    padding: 0 25px 0 8px;
    border: 1px solid #ccc;
    color: #777;
    background: url(../img/bg_search.png) no-repeat 204px center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    font: normal 12px Segoeui, Arial, Verdana, serif;
}

form.search input.entry_form:hover {
    border: 1px solid #afafaf;
    background: url(../img/bg_search_h.png) no-repeat 204px center;
}

form.search input.entry_form:focus {
    outline: none;
    border: 1px solid #59b7c2;
    box-shadow: 0px 0px 4px #59b7c2;
    -moz-box-shadow: 0px 0px 4px #59b7c2;
    -webkit-box-shadow: 0px 0px 4px #59b7c2;
}

#cart_nav {
    width: 102px;
    float: right;
}

#cart_nav li {
    position: relative
}

#cart_nav a.cart_li {
    float: right;
    display: block;
    padding: 0 2px 0 27px;
    margin: 16px 0 0 2px;
    width: 71px;
    height: 35px;
    color: #444;
    text-align: center;
    text-decoration: none;
    font: normal 11px/35px Segoeui, Arial, Verdana, serif;
    background: url(../img/bg_cart_nav.png) no-repeat 10px 50% #f1f3f5;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

#cart_nav a:hover.cart_li,
#cart_nav li:hover a.cart_li {
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    background: url(../img/bg_cart_nav_h.png) no-repeat 10px 50% #59b7c2;
}

.cart_li + ul.cart_cont {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    padding: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 4px #e0e0e0;
    -moz-box-shadow: 0px 0px 4px #e0e0e0;
    -webkit-box-shadow: 0px 0px 4px #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    z-index: 11;
}

.cart_li + ul.cart_cont p {
    font: normal 13px/24px Bitter, Myriad Pro, Verdana, serif;
}

li:hover .cart_li + ul.cart_cont {
    display: block;
}

.cart_li + ul.cart_cont li {
    border-top: 0 none;
    padding: 10px 0;
    width: 270px;
}

.cart_li + ul.cart_cont li + li + li {
    border-top: 1px solid #e0e0e0;
}

.cart_li + ul.cart_cont li.no_border {
    border: 0 none;
    padding: 0;
    width: 270px;
}

.cart_cont .prev_cart {
    display: block;
    float: left;
    width: 56px;
    height: 56px;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

.cart_cont .cart_vert {
    width: 56px;
    height: 56px;
    display: table-cell;
    vertical-align: middle;
/ / display : block;
/ / height : auto;
/ / margin-top : expression((28 -parseInt(offsetHeight) / 2) < 0 ? "0" : 28 -(parseInt(offsetHeight) / 2) + 'px');
}

.cart_cont .prev_cart img {
    max-width: 42px;
    max-height: 42px;
}

.cart_cont .cont_cart {
    float: left;
    width: 190px;
    height: 56px;
    padding: 0 0 0 10px;
    font: normal 12px/17px Bitter, Arial, Verdana, serif;
}

.cart_cont .cont_cart h4 {
    color: #777;
    font: normal 12px/17px Segoeui, Arial, Verdana, serif;
    padding: 0;
}

.cart_cont .cont_cart .price {
    color: #444;
    margin: 10px 0 0 0;
    font: normal 12px/17px Bitter, Arial, Verdana, serif;
}

.cart_cont .close {
    float: left;
    width: 11px;
    height: 11px;
    display: block;
    background: url(../img/close.png) no-repeat 0 0;
}

.cart_cont a.view_cart,
.cart_cont a.checkout {
    float: left;
    width: 120px;
    height: 34px;
    display: block;
    background: #59B7C2;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font: normal 11px/34px Segoeui, Myriad Pro, Verdana, serif;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    cursor: pointer;
}

.cart_cont a.checkout {
    background: #444;
    margin: 0 0 0 10px;
}

.cart_cont a.view_cart:hover {
    box-shadow: 0px 0px 2px #59B7C2;
    -moz-box-shadow: 0px 0px 2px #59B7C2;
    -webkit-box-shadow: 0px 0px 2px #59B7C2;
}

.cart_cont a.checkout:hover {
    box-shadow: 0px 0px 2px #444;
    -moz-box-shadow: 0px 0px 2px #444;
    -webkit-box-shadow: 0px 0px 2px #444;
}

nav.private {
    float: right;
    margin: 16px 0 0 0;
    font: normal 12px Segoeui, Arial, Verdana, serif;
}

nav.private ul {
    list-style: none;
}

nav.private ul li {
    float: left;
    height: 35px;
}

nav.private ul li.separator {
    color: #e0e0e0;
    font-size: 14px;
    line-height: 35px;
    margin: 0 2px;
    float: left;
}

nav.private ul li a {
    position: relative;
    float: left;
    height: 35px;
    padding: 0 10px;
    margin: 0;
    line-height: 35px;
    color: #777;
}

nav.private ul li a:hover {
    position: relative;
    color: #fefefe;
    background: #59b7c2;
    text-decoration: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

/***************
 * Nav primary *
 ***************/
#block_nav_primary {
    width: 100%;
    height: 50px;
    border-top: 1px solid #e0e0e0;
    margin: 0 0 20px 0;
}

#block_nav_primary .grid_12 {
    background: #f5f7f9;
}

.primary ul li {
    float: left;
    position: relative;
}

.primary ul li a {
    float: left;
    height: 48px;
    padding: 0 16px;
    color: #444;
    text-transform: uppercase;
    font: normal 14px/50px Bitter, Myriad Pro, Verdana, serif;
    border: 1px solid #f5f7f9;
    background: #f5f7f9;
}

.primary ul li a:hover,
.primary ul li:hover a {
    border: 1px solid #c3d7e9;
    background: #d5e4f1;
    text-decoration: none;
}

.primary ul li.curent a {
    color: #fff;
    background: #78c4cd;
    border: 1px solid #6fb7bf;
}

.primary ul ul.sub {
    display: none;
}

.primary ul li:hover > ul.sub {
    display: block;
}

.primary ul ul.sub {
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 999;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    box-shadow: 0px 0px 2px #e0e0e0;
    -moz-box-shadow: 0px 0px 2px #e0e0e0;
    -webkit-box-shadow: 0px 0px 2px #e0e0e0;
}

.primary ul ul.sub li a {
    border: 0 none;
    width: 210px;
    height: 39px;
    color: #777;
    text-transform: capitalize;
    font: normal 13px/39px Bitter, Myriad Pro, Verdana, serif;
    background: #fff;
}

.primary ul ul.sub li + li a {
    border-top: 1px solid #e0e0e0;
}

.primary ul ul.sub li a:hover {
    background: #f5f7f9;
}

/**********
 * Slider *
 **********/
#slider {
    height: 480px;
    margin: 0 0 0px 0;
}

.slid_text {
    position: absolute;
    top: 70px;
    left: 495px;
    color: #131313;
}

.slid_text .slid_title {
    padding: 5px 0;
    margin: 0 0 18px 0;
}

.slid_text .slid_title span {
    padding: 5px 10px;
    font-size: 36px;
    background: #fff;
    opacity: 0.7;
    color: #222;
}

.slid_text p {
    padding: 5px 0;
    margin: 0 0 2px 0;
}

.slid_text p span {
    padding: 5px 10px;
    font-size: 16px;
    background: #fff;
    opacity: 0.7;
    color: #222;
}

.slidprev,
.slidnext {
    position: absolute;
    background: #fff;
    height: 42px;
    width: 42px;
    cursor: pointer;
    z-index: 10;
    margin: 218px 0 0 0;
    text-align: center;
    font: bold 15px/42px Arial, Verdana, serif;
    opacity: 0.85;
    color: #444;
}

.slidprev span,
.slidnext span {
    display: block;
    margin: 13px 0 0 16px;
    width: 10px;
    height: 15px;
    background: url(../img/bg_arows.png) no-repeat left top;
    text-indent: -9999px;
}

.slidnext span {
    background: url(../img/bg_arows.png) no-repeat right top;
}

.slidprev:hover span {
    background: url(../img/bg_arows.png) no-repeat left bottom;
}

.slidnext:hover span {
    background: url(../img/bg_arows.png) no-repeat right bottom;
}

.slidprev:hover,
.slidnext:hover {
    background: #444;
    color: #fff;
}

.slidnext {
    margin: 218px 0 0 942px;
}

#myController {
    margin: -40px 0 0 0;
    position: absolute;
    right: 20px;
}

#myController .control {
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
    background: #fff;
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    behavior: url(PIE.htc);
    cursor: pointer;
    opacity: 0.6;
}

#myController .control span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 0 0 5px;
    background: #222;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    behavior: url(PIE.htc);
    opacity: 0.6;
    text-indent: -9999px;
}

#myController .control.jFlowSelected {
    background: #4b5454;
}

#myController .control.jFlowSelected span {
    background: #d1dcde;
}

#myController .control:hover,
#myController .control:hover span {
    opacity: 1;
}

/***************
 * Breadcrumbs *
 ***************/
.breadcrumbs {
    clear: both;
    height: 20px;
    font: normal 18px/18px Segoeui, Arial, Verdana, serif;
}

.breadcrumbs a {
    font: normal 11px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
    text-decoration: none;
    display: block;
    float: left;
}

.breadcrumbs span {
    display: block;
    float: left;
    margin: 0 5px;
    color: #777;
}

.breadcrumbs a:hover {
    color: #444;
    text-decoration: underline;
}

.breadcrumbs .current {
    font: normal 11px/20px Segoeui, Arial, Verdana, serif;
    color: #999;
    margin: 0;
}

/********
 * Main *
 ********/
#main {
    margin: 50px 0 60px 0;
}

#main.home {
    margin: 24px 0 0 0;
}

#main.entire_width {
    margin: 80px 0 70px 0;
}

/***********
 * Sidebar *
 ***********/
aside {
    margin: 0 0 45px 0
}

aside h3 {
    margin: 6px 0 15px;
    padding: 0 0 17px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
}

aside h4 {
    margin: 10px 0 13px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
    font: bold 13px/13px Segoeui, Arial, Verdana, serif;
}

/*** left_menu ***/
.left_menu ul li {
    height: 39px;
    border-top: 1px solid #fff;
}

.left_menu ul li + li {
    height: 39px;
    border-top: 1px solid #eee;
}

.left_menu ul li a {
    display: block;
    color: #444;
    height: 40px;
    border: 0 none;
    font: normal 13px/40px Segoeui, Arial, Verdana, serif;
}

.left_menu ul li:hover {
    height: 39px;
    background: #f5f7f9;
    border-top: 1px solid #fff;
    margin: 0 -6px;
    padding: 0 6px;
    line-height: 40px;
}

.left_menu ul li + li:hover a {
    height: 39px;
    background: #f5f7f9;
    border: 0 none;
    margin: 0 -6px;
    padding: 0 6px;
    line-height: 40px;
}

.left_menu ul li:hover + li {
    border-top: 1px solid #fff;
}

.left_menu ul li.current {
    margin: 0 -6px;
    padding: 0 6px;
    height: 38px;
    background: #7ac5ce;
    border: 1px solid #71b9c1;
}

.left_menu ul li.current a {
    display: block;
    color: #fff;
    height: 38px;
    text-decoration: none;
    font: bold 13px/40px Segoeui, Arial, Verdana, serif;
}

.left_menu ul li a span {
    color: #777;
}

.left_menu ul li.current a span {
    color: #fff;
    font-weight: normal
}

/*** what_new ***/
#what_new div {
    text-align: center;
    padding: 0 10px;
}

#what_new img {
    display: block;
    margin: 0 auto 15px;
}

#what_new a {
    text-decoration: none;
    color: #444;
    font: normal 12px/18px Segoeui, Arial, Verdana, serif;
}

#what_new .prise {
    padding: 2px 0 0 0;
    color: #2E8F9A;
    font: normal 12px/18px Bitter, Arial, Verdana, serif;
}

#what_new a:hover {
    text-decoration: underline;
}

/*** shop_by ***/
.currently_shopping {
    padding: 15px 0;
}

.currently_shopping p {
    color: #444;
    font: normal 13px/13px Segoeui, Arial, Verdana, serif;
    margin: 0 0 26px 0;
}

.currently_shopping li {
    margin: 0px 0 8px 0;
    font: bold 12px/11px Segoeui, Arial, Verdana, serif;
    color: #59b7c2;
}

.currently_shopping ul {
    padding: 0px 0 5px 0;
    margin: 0 0 8px 0;
    border-bottom: 1px solid #eee;
}

.currently_shopping li span {
    margin: 0px 0 0px 0;
    font-weight: normal;
    color: #444;
}

.currently_shopping li .close {
    float: left;
    width: 11px;
    height: 11px;
    margin: 1px 8px 0 1px;
    display: block;
    background: url(../img/close.png) no-repeat 0 0;
}

.currently_shopping .clear_all {
    float: right;
    font: normal 12px/12px Segoeui, Arial, Verdana, serif;
    color: #777;
    text-decoration: none;
}

.currently_shopping .clear_all:hover {
    opacity: 0.8;
}

#shop_by form.check_opt {
    padding: 0 0 12px 0;
}

#shop_by form.check_opt p {
    color: #777;
    font: normal 12px Segoeui, Arial, Verdana, serif;
    margin: 0 0 6px 0;
    min-height: 14px;
}

#shop_by form.check_opt span.niceCheck {
    margin: 0px 5px 0px 0;
}

/*** specials ***/
.specials li {
    padding: 10px 0;
}

.specials li + li {
    border-top: 1px solid #eee;
}

.specials li .prev {
    width: 66px;
    height: 66px;
    padding: 2px;
    text-align: center;
    line-height: 0;
    background: #f3f3f3;
    display: table-cell;
    vertical-align: middle;
/ / display : block;
/ / height : auto;
/ / margin-top : expression((35 -parseInt(offsetHeight) / 2) < 0 ? "0" : 35 -(parseInt(offsetHeight) / 2) + 'px');
}

.specials li .prev img {
    max-width: 66px;
    max-height: 66px;
}

.specials li .cont {
    font: normal 12px/18px Segoeui, Arial, Verdana, serif;
    display: table-cell;
    padding: 5px 10px 0px;
}

.specials li .cont a {
    font: normal 12px/18px Segoeui, Arial, Verdana, serif;
    color: #444;
    text-decoration: none;
}

.specials li .cont a:hover {
    color: #4ba6b1;
}

.specials li .cont .prise {
    padding: 10px 0 0 0;
    color: #2e8f9a;
    font: normal 12px/18px Bitter, Arial, Verdana, serif;
}

.specials li .cont .prise .old {
    padding: 0px 10px 0 0;
    color: #777;
    text-decoration: line-through;
}

input.vote {
    margin: 16px 0 0 0;
    width: 104px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

#community_poll h4 {
    border: 0 none;
}

#community_poll li {
    height: 39px;
    color: #777;
    line-height: 39px;
}

#community_poll li + li {
    border-top: 1px solid #eee;
}

#community_poll li .niceRadio {
    vertical-align: middle;
    margin: 0 8px 0 0;
}

/*** compare_products ***/
#compare_products ul {
    margin: 0 0 15px 0;
}

#compare_products li {
    padding: 10px 0 10px 25px;
    color: #777;
}

#compare_products li + li {
    border-top: 1px solid #eee;
}

#compare_products .close {
    position: absolute;
    width: 11px;
    height: 11px;
    margin: 5px 0px 0 -25px;
    display: block;
    background: url(../img/close.png) no-repeat 0 0;
}

#compare_products button {
    float: left;
    margin: 0px 22px 0 0;
    width: 128px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

#compare_products a.clear_all {
    float: left;
    font: normal 12px/35px Segoeui, Arial, Verdana, serif;
    color: #777;
    text-decoration: none;
}

/*** newsletter_signup ***/
#newsletter_signup p {
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
}

#newsletter_signup .newsletter {
    padding: 30px 0 0 0;
}

#newsletter_signup .newsletter .your_email {
    width: 206px;
    height: 33px;
    margin: 0 0 28px 0;
    border: 1px solid #ccc;
    color: #777;
    background: #fff;
    border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -khtml-border-radius: 2px 0 0 2px;
    behavior: url(PIE.htc);
}

#newsletter_signup .newsletter #submit {
    width: 135px;
    height: 35px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

/*** banners ***/
#banners .arows {
    width: 29px;
    height: 29px;
    margin: -4px 0 0px 6px;
    line-height: 29px;
}

#banners .arows span {
    margin: 7px 0 0 10px;
}

#banners #list_banners {
    overflow: hidden;
}

#banners .banner {
    float: left;
    width: 226px;
    height: 228px;
    margin: 0px 0 0px 0px;
    text-align: center;
    border: 1px solid #e0e0e0;
    background: url(../img/bg_banner.png) no-repeat center center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

#banners .banner a {
    text-decoration: none;
}

#banners .banner .prev {
    width: 226px;
    height: 130px;
    vertical-align: middle;
    display: table-cell;
/ / display : block;
/ / height : auto;
/ / margin-top : expression((65 -parseInt(offsetHeight) / 2) < 0 ? "0" : 65 -(parseInt(offsetHeight) / 2) + 'px');
}

#banners .banner h2 {
    font: normal 28px/28px Bitter, Arial, Verdana, serif;
    margin: 0;
    padding: 0;
    color: #444;
}

#banners .banner p {
    font: normal 20px Segoeui, Arial, Verdana, serif;
    margin: 0;
    padding: 0;
    color: #777;
}

/*** tags ***/
#tags a {
    color: #777;
    font: normal 13px/26px Segoeui, Arial, Verdana, serif;
    text-decoration: none
}

#tags a:hover {
    color: #444;
}

#tags a.t1 {
    font-size: 18px
}

#tags a.t2 {
    font-size: 13px
}

#tags a.t3 {
    font-size: 20px
}

#tags a.t4 {
    font-size: 11px
}

#tags a.t5 {
    font-size: 12px
}

#tags a.t6 {
    font-size: 22px
}

#tags a.t7 {
    font-size: 12px
}

#tags a.t8 {
    font-size: 17px
}

#tags a.t9 {
    font-size: 13px
}

#tags a.t10 {
    font-size: 20px
}

#tags a.t11 {
    font-size: 12px
}

#tags a.t12 {
    font-size: 20px
}

#tags a.t13 {
    font-size: 15px
}

#tags a.t14 {
    font-size: 13px
}

#tags a.t15 {
    font-size: 16px
}

#tags a.t16 {
    font-size: 13px
}

#tags a.t17 {
    font-size: 27px
}

/****************
 * Sidebar right*
 ****************/
#checkout_progress {
    margin: 57px 0 0 0;
}

#checkout_progress ul {
    list-style: none !important;
    padding: 0 !important;
}

#checkout_progress ul li {
    height: 39px;
    border-bottom: 1px solid #eee;
    color: #444;
    line-height: 39px;
}

#checkout_progress ul li a {
    float: right;
    padding: 0 0 0 16px;
    background: url(../img/edit.png) left center no-repeat;
    color: #777;
    text-decoration: none;
}

#checkout_progress ul li a:hover {
    opacity: 0.8
}

/***********
 * Content *
 ***********/

#content ol,
#content ul {
    padding: 0 0 0 50px;
    margin: 0 0 20px 0;
}

#content p {
    margin: 0 0 20px 0;
}

#content ul {
    list-style: disc
}

h1.page_title {
    padding: 0 0 9px 0;
    border-bottom: 1px solid #E0E0E0;
}

h1.post_title {
    padding: 0 0 9px 0;
    margin: 0 0 23px 0;
    border-bottom: 1px solid #E0E0E0;
}

.options {
    height: 59px;
    border: 1px solid #e0e0e0;
    border-top: 0 none;
}

.options .grid-list {
    height: 59px;
    float: left;
}

.options .grid-list a.grid,
.options .grid-list a.list {
    display: block;
    height: 59px;
    width: 59px;
    float: left;
    border-right: 1px solid #e0e0e0;
}

.options .grid-list a.grid:hover,
.options .grid-list a.list:hover {
    background: #eff7ff
}

.options .grid-list a.grid.curent,
.options .grid-list a.list.curent {
    background: #f5f7f9
}

.options .grid-list a.grid span,
.options .grid-list a.list span {
    margin: 21.5px 0 0 21.5px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/grid_list.png);
    opacity: 0.25;
    text-indent: -9999px;
}

.options .grid-list a.list span {
    background-position: right center;
}

.options .grid-list a.grid.curent span,
.options .grid-list a.list.curent span {
    opacity: 1;
}

.show,
.sort {
    float: right;
    height: 35px;
    margin-top: 12px;
}

.show {
    padding: 0 12px;
    border-left: 1px solid #e0e0e0;
}

.show .selectBox {
    width: 66px;
    padding-left: 10px;
    margin: 0 5px;
}

.sort {
    padding: 0 8px 0 0;
}

.sort .selectBox {
    width: 106px;
    padding-left: 10px;
    margin: 0 5px;
}

.sort a.sort_up {
    color: #444 !important;
    font: bold 20px Segoeui-Bold, Arial, Verdana, serif;
    text-decoration: none !important;
}

.sort a:hover.sort_up {
    text-decoration: none;
}

.grid_product {
    margin: 42px -12px 10px;
    width: 756px;
}

.grid_product .product {
    margin-bottom: 32px;
}

.listing_product {
    margin: 42px -1px 10px;
    width: 734px;
}

.listing_product .product_li {
    margin-bottom: 32px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

.listing_product .product_li .grid_3 {
    margin-left: 0;
}

.listing_product .product_li .grid_2 {
    margin-right: 0;
}

.listing_product .product_li .prev {
    padding: 7px;
    border-right: 1px solid #e0e0e0;
}

.listing_product .product_li .prev a {
    height: 210px;
    width: 210px;
    padding: 0;
    border: 0 none;
    background: #f5f5f5;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
/ / display : block;
/ / height : auto;
/ / margin-top : expression((105 -parseInt(offsetHeight) / 2) < 0 ? "0" : 105 -(parseInt(offsetHeight) / 2) + 'px');
}

.listing_product .product_li .prev img {
    max-height: 210px;
    max-width: 210px;
}

.listing_product .product_li .entry_content {
    padding: 20px 0 0 0;
    height: 204px;
    border-right: 1px solid #e0e0e0;
}

.listing_product .product_li .entry_content a {
    text-decoration: none;
}

.listing_product .product_li .entry_content h3.title {
    font: normal 13px/20px Bitter, Arial, Verdana, serif;
    padding: 0 0 15px 0;
}

.listing_product .product_li .entry_content .review {
    height: 14px;
    margin: 0 0 20px 0;
    color: #777;
    font: normal 11px/16px Segoeui, Arial, Verdana, serif;
}

.listing_product .product_li .entry_content .review a {
    display: block;
    float: left;
    height: 14px;
    width: 14px;
    margin: 0 2px 0 0;
    background: url(../img/review.png) no-repeat 0 0;
}

.listing_product .product_li .entry_content .review a.plus,
.listing_product .product_li .entry_content .review a:hover {
    background-position: 100% 0;
}

.listing_product .product_li .entry_content .review span {
    margin: 0 0 0 6px;
}

.listing_product .product_li .entry_content p {
    color: #444;
    font: normal 12px/18px Segoeui, Arial, Verdana, serif;
    margin: 0 0 13px 0;
}

a.more {
    text-decoration: none;
}

a.more:hover {
    text-decoration: underline !important;
}

.listing_product .product_li .cart .price {
    padding: 20px 0 0 0;
    color: #2e8f9a;
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
    margin: 0 0 20px 0;
}

.listing_product .product_li .cart .price .price_old {
    padding: 5px 0 0 0;
    color: #777;
    font: normal 13px/13px Segoeui, Arial, Verdana, serif;
    margin: 0;
}

.listing_product .product_li .cart a.bay {
    display: block;
    width: 120px;
    height: 35px;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    font: bold 13px/35px Segoeui-Bold, Arial, Verdana, serif;
    margin: 0 0 28px 0;
    background: #59b7c2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

.listing_product .product_li .cart a.bay:hover {
    background: #2AB4C4;
    box-shadow: 0px 0px 2px #2AB4C4;
    -moz-box-shadow: 0px 0px 2px #2ab4c4;
    -webkit-box-shadow: 0px 0px 2px #2AB4C4;
}

.listing_product .product_li .cart a.obn,
.listing_product .product_li .cart a.like {
    display: block;
    float: left;
    width: 52px;
    height: 41px;
    text-decoration: none;
    margin: 0 0 0px 7px;
    border-right: 1px solid #e0e0e0;
    background: url(../img/bg_obn.png) no-repeat 50% 50%;
}

.listing_product .product_li .cart a.like {
    margin: 0;
    border: 0 none;
    background: url(../img/bg_like.png) no-repeat 50% 50%;
}

.listing_product .product_li .cart a.obn:hover,
.listing_product .product_li .cart a.like:hover {
    background-color: #EFF7FF;
}

.pagination {
    height: 39px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.pagination li {
    display: inline-block;
    border-right: 1px solid #e0e0e0;
}

.pagination li a,
.pagination li span {
    display: block;
    height: 39px;
    padding: 0 15px;
    margin: 0 0 0 -3px;
    color: #777;
    font: normal 13px/39px Segoeui, Arial, Verdana, serif;
    text-decoration: none;
}

.pagination li.prev a,
.pagination li.next a {
    font: normal 20px/32px Segoeui, Arial, Verdana, serif;
    color: #444;
}

.pagination li.prev span,
.pagination li.next span {
    font: normal 20px/32px Segoeui, Arial, Verdana, serif;
}

.pagination li.next {
    border: 0 none;
}

.pagination li a:hover {
    background: #eff7ff;
    text-decoration: none;
}

.pagination li.curent a {
    background: #f5f7f9;
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

.pagination_info {
    margin: 15px 0 !important;
    color: #777;
    text-align: center;
    font: italic 11px/11px Segoeui-Italic, Arial, Verdana, serif;
}

/****************
 * Product page *
 ****************/
.product_page {
    margin: 41px -12px 0;
    width: 756px;
}

.product_page .img_slid .sale {
    margin: -3px 0 0 -3px;
}

.product_page .img_slid .preview {
    margin: 0 0 12px 0;
    width: 294px;
    height: 294px;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

.product_page .img_slid .prev_bg {
    margin: 0;
    width: 294px;
    height: 294px;
    background: #f3f3f3;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
/ / display : block;
/ / height : auto;
/ / margin-top : expression((147 -parseInt(offsetHeight) / 2) < 0 ? "0" : 147 -(parseInt(offsetHeight) / 2) + 'px');
}

.product_page .img_slid .prev_bg .zoomPad > img {
    max-width: 294px;
    max-height: 294px;
}

.product_page .img_slid .caroufredsel_wrapper {
    width: 314px !important;
    height: 70px !important;
}

.product_page .img_slid .pagination {
    list-style: none !important;
    padding: 0 0 0 3px !important;
    height: 70px !important;
    margin: 0 !important;
    border: 0 none !important;
}

.product_page .img_slid .pagination li {
    float: left;
    margin: 0 12px 0 0;
    padding: 0 0 1px 0;
    border: 0 none;
    width: 68px;
    height: 68px;
}

.product_page .img_slid .pagination li a {
    border: 1px solid #e0e0e0;
    padding: 2px;
    float: left;
    width: 64px;
    height: 64px;
    text-align: center;
    background: #fff;
}

.product_page .img_slid .pagination li a.zoomThumbActive {
    border: 1px solid #ccc;
}

.product_page .img_slid .pagination li a:hover {
    background: none;
}

.product_page .img_slid .pagination li img {
    max-width: 64px;
    height: 64px;
    text-align: center;
}

.product_page .img_slid .next_prev {
    float: left;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin: 12px 0 0 0;
}

.product_page .img_slid .next_prev .arows {
    float: left;
    width: 29px;
    height: 29px;
    margin: 12px 6px 0 0;
    line-height: 29px;
}

.product_page .img_slid .next_prev .arows span {
    margin: 7px 0 0 10px;
}

.product_page .img_slid .next_prev #img_next.arows span {
    background: url(../img/bg_arows.png) no-repeat right top;
}

.product_page .img_slid .next_prev #img_next.arows:hover span {
    background: url(../img/bg_arows.png) no-repeat right bottom;
}

.product_page .entry_content p {
    margin-bottom: 20px
}

.product_page .entry_content .review {
    height: 29px;
    margin: 0 0 15px 0;
    color: #777;
    font: normal 11px/29px Segoeui, Arial, Verdana, serif;
}

.product_page .entry_content .review a {
    display: block;
    float: left;
    height: 14px;
    width: 14px;
    margin: 6px 2px 0 0;
    background: url(../img/review.png) no-repeat 0 0;
}

.product_page .entry_content .review a.plus {
    background-position: 100% 0;
}

.product_page .entry_content .review a.add_review {
    display: block;
    float: left;
    height: 29px;
    width: 118px;
    margin: 0 0 0 10px;
    text-align: center;
    text-decoration: none;
    color: #444;
    font: normal 11px/29px Segoeui, Arial, Verdana, serif;
    background: #f1f3f5;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

.product_page .entry_content .review a.add_review:hover {
    background: #59B7C2;
    box-shadow: 0px 0px 2px #59B7C2;
    -moz-box-shadow: 0px 0px 2px #59B7C2;
    -webkit-box-shadow: 0px 0px 2px #59B7C2;
    color: #FEFEFE;
}

.product_page .entry_content .review span {
    margin: 0 0 0 6px;
    float: left;
}

.product_page .entry_content .ava_price {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    height: 40px;
}

.product_page .entry_content .ava_price .availability_sku {
    float: left;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
}

.product_page .entry_content .ava_price .availability span {
    color: #277127;
    padding: 0 0 0 15px;
    background: url(../img/gal.png) no-repeat 2px 50%;
}

.product_page .entry_content .ava_price .sku span {
    color: #444;
}

.product_page .entry_content .ava_price .price {
    float: right;
    font: normal 18px/20px Bitter, Myriad Pro, Verdana, serif;
    color: #2e8f9a;
    text-align: right;
}

.product_page .entry_content .ava_price .price .price_old {
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
    text-decoration: line-through;
}

.product_page .entry_content .block_cart {
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
    margin: 25px 0 37px 0;
}

.product_page .entry_content .block_cart .obn_like {
    float: left;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
}

.product_page .entry_content .block_cart .obn_like .obn a,
.product_page .entry_content .block_cart .obn_like .like a {
    display: block;
    float: left;
    margin: 4px 5px 0 0;
    width: auto;
    height: 12px;
    padding: 0 0 0 17px;
    background: url(../img/bg_obn.png) no-repeat 0 50%;
    font: normal 12px/12px Segoeui, Arial, Verdana, serif;
    color: #777;
    text-decoration: none;
}

.product_page .entry_content .block_cart .obn_like .like a {
    background: url(../img/bg_like.png) no-repeat 0 50%;
}

.product_page .entry_content .block_cart .obn_like .obn a:hover,
.product_page .entry_content .block_cart .obn_like .like a:hover {
    opacity: 0.8
}

.product_page .entry_content .block_cart .cart {
    width: 250px;
    float: right;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
    color: #777;
}

.product_page .entry_content .block_cart .cart .number {
    float: right;
    width: 27px;
    margin: 0 -1px 0 0;
    border-right: 0 none;
    border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -khtml-border-radius: 2px 0 0 2px;
    behavior: url(PIE.htc);
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.product_page .entry_content .block_cart .cart a.bay {
    float: right;
    display: block;
    width: 120px;
    height: 35px;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    font: bold 13px/35px Segoeui-Bold, Arial, Verdana, serif;
    background: #59b7c2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 2;
}

.product_page .entry_content .block_cart .cart a.bay:hover {
    background: #2AB4C4;
    box-shadow: 0px 0px 2px #2AB4C4;
    -moz-box-shadow: 0px 0px 2px #2ab4c4;
    -webkit-box-shadow: 0px 0px 2px #2AB4C4;
}

.product_page .entry_content .block_cart .cart span {
    float: right;
    color: #707070;
    line-height: 35px;
    margin: 0 5px 0 0;
}

.product_page .entry_content .soc img {
    float: right
}

/*** Tab ***/
#wrapper_tab {
    margin: 39px 0 50px 0;
    clear: both;
}

#wrapper_tab a.tab_link {
    position: relative;
    z-index: 1;
    display: block;
    float: left;
    margin: 0 4px 0 0;
    padding: 0 20px;
    height: 33px;
    color: #777;
    font: normal 13px/34px Bitter, Myriad Pro, Verdana, serif;
    text-decoration: none;
    border: 1px solid #f1f3f5;
    background: #f1f3f5;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -khtml-border-radius: 2px 2px 0 0;
    behavior: url(PIE.htc);
}

#wrapper_tab a.tab_link:hover {
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
}

#wrapper_tab.tab1 a.tab1,
#wrapper_tab.tab2 a.tab2,
#wrapper_tab.tab3 a.tab3 {
    cursor: default;
    color: #444;
    font: normal 13px/34px Bitter, Myriad Pro, Verdana, serif;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #fff;
    background: #fff;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -khtml-border-radius: 2px 2px 0 0;
    behavior: url(PIE.htc);
    position: relative;
    z-index: 3;
}

#wrapper_tab div.tab_body {
    display: none;
}

#wrapper_tab.tab1 div.tab1,
#wrapper_tab.tab2 div.tab2,
#wrapper_tab.tab3 div.tab3 {
    display: block;
    position: relative;
    z-index: 2;
    border-top: 1px solid #e0e0e0;
    margin: -1px 0 0 0;
    padding: 20px 0 0 0;
}

/*** Comments ***/
.comments {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.comments li .autor {
    float: left;
    color: #444;
    font: normal 14px/21px Bitter, Myriad Pro, Verdana, serif;
}

.comments li time {
    color: #777;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
}

.evaluation {
    clear: both;
    padding: 15px 0;
}

.evaluation .quality,
.evaluation .price {
    padding: 0 15px 0 0;
    height: 14px;
    float: left;
    margin: 0 15px 0 0;
    border-right: 1px solid #e0e0e0;
    color: #777;
    font-size: 12px;
    line-height: 14px;
}

.evaluation .price {
    border-right: 0 none;
}

.evaluation .quality strong,
.evaluation .price strong {
    float: left;
    color: #777;
    font-size: 12px;
    line-height: 14px;
    margin: 0 5px 0 0;
}

.evaluation .quality a,
.evaluation .price a {
    display: block;
    float: left;
    height: 14px;
    width: 14px;
    margin: 0px 2px 0 0;
    background: url(../img/review.png) no-repeat 0 0;
}

.evaluation .quality a.plus,
.evaluation .price a.plus {
    background-position: 100% 0;
}

.evaluation .quality a.plus_minus,
.evaluation .price a.plus_minus {
    background-position: 50% 0;
}

.comments li + li {
    padding: 20px 0 0px 0;
    border-top: 1px solid #e0e0e0;
}

.add_comments .evaluation {
    height: 50px;
}

.add_comments .evaluation .quality,
.add_comments .evaluation .price {
    padding: 0 15px 0 0;
    height: 17px;
    float: left;
    margin: 0 15px 0 0;
    border-right: 1px solid #e0e0e0;
    color: #777;
    font-size: 12px;
    line-height: 14px;
}

.add_comments .evaluation .price {
    border: 0 none
}

.add_comments .evaluation .quality strong,
.add_comments .evaluation .price strong {
    margin: 0;
    line-height: 17px;
}

.evaluation .quality .eva_num,
.evaluation .price .eva_num {
    position: absolute;
    color: #999;
    font: normal 11px/11px Segoeui, Arial, Verdana, serif;
    margin: 21px 0 0 -11px;
}

.add_comments strong {
    color: #707070;
}

.add_comments input[type="text"],
.add_comments input[type="email"],
.add_comments textarea {
    margin: 10px 0 0 0;
}

.add_comments .nickname {
    float: left
}

.add_comments .your_review {
    float: right
}

.add_comments .nickname input,
.add_comments .your_review input {
    width: 314px;
}

.add_comments .text_review {
    margin: 30px 0 0 0;
}

.add_comments .text_review textarea {
    height: 113px;
    width: 710px;
    margin: 10px 0 5px 0;
}

.add_comments .text_review i {
    color: #777;
    font-size: 12px;
}

.add_comments input[type="submit"] {
    margin: 30px 0 0 0;
    width: 172px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

/*** Related Products ***/
.related .c_header {
    height: 50px;
    margin: 0 12px 42px;
    border-bottom: 1px solid #E0E0E0;
}

.related .c_header .grid_7 {
    margin-left: 0
}

.related .c_header .grid_2 {
    margin-right: 0
}

.related ul.list_product {
    margin: 0;
    padding: 0 !important;
    list-style: none !important;
}

/**************
 * Login page *
 **************/
.new_customers {
    margin-top: 65px;
}

.new_customers p {
    margin-bottom: 30px !important;
}

.new_customers button.account {
    width: 192px;
    font: bold 14px/35px Segoeui-Bold, Myriad Pro, Verdana, serif;
}

form.registed {
    margin: 45px 0 0 0;
    padding: 19px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

form.registed strong {
    color: #707070;
    font: bold 13px/13px Segoeui-Bold, Myriad Pro, Verdana, serif;
}

form.registed input[type="text"],
form.registed input[type="email"] {
    width: 255px;
    margin: 5px 0 13px 0;
}

form.registed a.forgot {
    font-size: 12px;
    color: #777;
    margin: 0 0 0 15px;
    line-height: 35px;
}

form.registed .remember .niceCheck {
    vertical-align: middle;
}

form.registed .remember span.rem {
    font-size: 12px;
    color: #777;
    font: normal 12px/17px Segoeui, Arial, Verdana, serif;
}

form.registed .submit {
    margin: 30px 0 0 0;
    height: 35px;
    color: #c3293a;
    font: normal 12px/35px Segoeui, Arial, Verdana, serif;
}

form.registed .submit input[type="submit"] {
    float: left;
    margin: 0 185px 0 0;
    width: 108px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

/*****************
 * Shopping Cart *
 *****************/
table.cart_product {
    margin: 39px 0;
    color: #777;
}

table.cart_product .bg {
    color: #444;
}

table.cart_product th {
    height: 49px;
    padding: 0;
}

table.cart_product td {
    height: auto;
    vertical-align: top;
    padding: 30px 0 0 0;
}

table.cart_product .images {
    width: 130px;
}

table.cart_product .name {
    width: auto;
    text-align: left;
    padding: 0 20px;
}

table.cart_product .edit {
    width: 90px;
    color: #777;
}

table.cart_product .edit a {
    padding: 0 0 0 16px;
    background: url(../img/edit.png) left center no-repeat;
    color: #777;
    text-decoration: none;
}

table.cart_product .edit a:hover {
    opacity: 0.8
}

table.cart_product .price {
    width: 115px;
}

table.cart_product .qty {
    width: 90px;
}

table.cart_product .subtotal {
    width: 110px;
}

table.cart_product .close {
    width: 50px;
}

table.cart_product a.close {
    margin: 0 auto;
    width: 11px;
    height: 11px;
    display: block;
    background: url(../img/close.png) no-repeat 0 0;
}

table.cart_product td.images {
    padding: 20px 20px 20px 0;
    vertical-align: middle;
    text-align: center;
    width: 110px;
}

table.cart_product td.images img {
    max-height: 110px;
    max-width: 110px;
}

table.cart_product td.name {
    text-align: left;
    padding: 30px 20px;
}

table.cart_product td.qty {
    padding: 20px 0 0 0;
}

table.cart_product td.qty input {
    width: 30px;
    font-size: 12px;
}

table.cart_product td.cart_but {
    padding: 9px 0 10px 0;
    height: 29px;
}

table.cart_product td.cart_but button.continue,
table.cart_product td.cart_but button.update {
    float: left;
    padding: 0 20px;
    height: 29px;
    background: #f1f3f5;
    border: 0 none;
    color: #444;
}

table.cart_product td.cart_but button.update {
    float: right;
}

table.cart_product td.cart_but button.continue:hover,
table.cart_product td.cart_but button.update:hover {
    background: #59B7C2;
    border: 0 none;
    color: #fff;
}

table.cart_product td.cart_but button.continue span {
    float: left;
    margin: 1px 5px 0 0;
    height: 11px;
    width: 5px;
    background: url(../img/button_cart.png) left center no-repeat;
    text-indent: -9999px;
}

table.cart_product td.cart_but button.update span {
    float: left;
    margin: 1px 5px 0 0;
    height: 11px;
    width: 9px;
    background: url(../img/button_cart.png) right center no-repeat;
    text-indent: -9999px;
}

.bottom_block.estimate {
    height: auto;
    padding: 20px;
}

.bottom_block.estimate .selectBox {
    width: 260px;
    margin: 5px 0 0 0;
}

.bottom_block.estimate input[type="text"] {
    width: 250px;
    margin: 5px 0 0 0;
}

.bottom_block.estimate input[type="submit"]#get_estimate {
    width: 150px;
    margin: 5px 0 0 0;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

.bottom_block.discount,
.bottom_block.total {
    min-height: 195px;
    padding: 20px 20px 0;
}

.bottom_block.discount input[type="text"] {
    width: 250px;
    margin: 5px 0 0 0;
}

.bottom_block.discount input[type="submit"]#apply_coupon {
    width: 167px;
    margin: 5px 0 0 0;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

.bottom_block.total {
    text-align: right;
}

.bottom_block.total table.subtotal {
    width: 100%;
    margin: 0;
    text-align: right;
    border-collapse: collapse;
    border: 0 none;
    font: normal 13px/17px Segoeui, Arial, Verdana, serif;
    color: #777;
}

.bottom_block.total table.subtotal td {
    height: 27px;
    vertical-align: top;
    border-bottom: 0 none;
    border-collapse: collapse;
}

.bottom_block.total table.subtotal .grand_total {
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
    color: #444;
}

.bottom_block.total table.subtotal td.price {
    width: 105px;
    color: #2e8f9a;
}

.bottom_block.total button.checkout {
    margin: 20px 0;
    padding: 0 5px 0 0;
    float: right;
    width: 255px;
    height: 55px;
    font: bold 14px/55px Segoeui-Bold, Arial, Verdana, serif;
    background-image: url(../img/bg_chackout.png);
    background-position: 225px 48%;
    background-repeat: no-repeat;
}

.bottom_block.total a {
    color: #777;
}

#following .c_header h5 {
    padding: 0;
    line-height: 50px;
}

/**************
 * Contact Us *
 **************/
.adress {
    padding: 45px 0 0 0;
    color: #444;
}

.adress h3 {
    padding: 25px 0 20px 0;
    font-size: 18px;
    color: #444;
}

.adress p {
    margin: 0px 0 23px 0 !important;
    font-size: 12px;
    color: #444;
}

.adress p span {
    color: #777;
}

form.contact {
    margin: 45px 0 0 0;
    padding: 19px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

form.contact .name {
    float: left;
}

form.contact .email {
    float: right;
}

form.contact input[type="text"],
form.contact input[type="email"] {
    width: 255px;
    margin: 5px 0 20px 0;
}

form.contact textarea {
    width: 585px;
    height: 103px;
    margin: 5px 0 35px 0;
}

form.contact input[type="submit"] {
    width: 115px;
    margin: 0px 0 0px 0;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

form.contact .field {
    margin: 0px 0 0 0;
    height: 35px;
    width: 140px;
    float: right;
    color: #C3293A;
    font: normal 12px/35px Segoeui, Arial, Verdana, serif;
}

/********************
 * Compare Products *
 ********************/
table.compare {
    text-align: center;
    border-top: 0 none;
}

table.compare td {
    text-align: center;
    padding: 15px 20px;
    height: auto;
    color: #444;
}

table.compare tr .desc {
    padding: 15px 0 020px;
    width: 160px;
    color: #444 !important;
    font: bold 14px/14px Bitter-Bold, Myriad Pro, Verdana, serif !important;
    text-align: left;
    vertical-align: top;
}

table.compare tr.close_top td {
    padding: 14px 0 6px;
}

table.compare tr.close_top a.close {
    margin: 0 auto;
    width: 11px;
    height: 11px;
    display: block;
    background: url(../img/close.png) no-repeat 0 0;
}

table.compare tr.images a {
    display: block;
    width: 110px;
    height: 110px;
    padding: 4px;
    margin: 0 auto 0;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

table.compare tr.images a div {
    display: block;
    width: 110px;
    height: 110px;
    background: #f3f3f3;
}

table.compare tr.images img {
    max-width: 110px;
    max-height: 110px;
}

table.compare tr.prise td {
    color: #2e8f9a;
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
}

table.compare tr.prise td .price_old {
    color: #777;
    font: normal 14px/20px Segoeui, Arial, Verdana, serif;
    text-decoration: line-through;
}

table.compare tr.availbility td {
    color: #277127;
}

table.compare tr.rating td .quality {
    width: 80px;
    padding: 0;
    height: 14px;
    margin: 0 auto;
}

table.compare tr.rating td .quality a {
    display: block;
    float: left;
    height: 14px;
    width: 14px;
    margin: 0px 2px 0 0;
    background: url(../img/review.png) no-repeat 0 0;
}

table.compare tr.rating td .quality a.plus {
    background-position: 100% 0;
}

table.compare tr.rating td .quality a.plus_minus {
    background-position: 50% 0;
}

table.compare tr.description td {
    text-align: left;
    font-size: 12px;
}

table.compare tr.add_cart td button.add {
    margin: 0 auto;
    width: 120px;
    font: bold 12px/35px Segoeui-Bold, Arial, Verdana, serif;
}

table.compare tr.close_botttom td {
    padding: 6px 0 49px;
    border: 0 none;
}

table.compare tr.close_botttom a.close {
    margin: 0 auto;
    width: 11px;
    height: 11px;
    display: block;
    background: url(../img/close.png) no-repeat 0 0;
}

/************
 * Page-404 *
 ************/
.left_404 {
    text-align: center;
}

.left_404 h1.text_404 {
    font: bold 100px/70px Bitter-Bold, Myriad Pro, Verdana, serif;
    color: #59b7c2;
}

.left_404 h6 {
    color: #999;
}

/************
 * Checkout *
 ************/
#checkout_info {
    margin-top: 42px;
}

#checkout_info ul.checkout_list {
    padding: 0 !important;
    list-style: none !important;
}

ul.checkout_list li {
    margin: 0 0 10px 0;
}

ul.checkout_list li .list_header {
    display: block;
    height: 49px;
    padding: 0 20px;
    margin: 0;
    color: #999;
    font: normal 18px/49px Bitter, Myriad Pro, Verdana, serif;
    background: #f5f7f9;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    text-decoration: none;
}

ul.checkout_list li a.list_header {
    cursor: pointer;
}

ul.checkout_list li .list_header .number {
    float: right;
    color: #bec0c2;
    font: bold 24px/45px Bitter-Bold, Myriad Pro, Verdana, serif;

}

ul.checkout_list li .list_body {
    display: none;
}

ul.checkout_list li.active .list_header {
    color: #444;
    border-bottom: 1px solid #f5f7f9;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -khtml-border-radius: 2px 2px 0 0;
    behavior: url(PIE.htc);
}

ul.checkout_list li.active .list_body {
    display: block;
    padding: 20px;
    color: #999;
    font: normal 18px/49px Bitter, Myriad Pro, Verdana, serif;
    border: 1px solid #e0e0e0;
    border-top: 0 none;
    border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -khtml-border-radius: 0 0 2px 2px;
    behavior: url(PIE.htc);
    text-decoration: none;
}

ul.checkout_list li.active .list_body form {
    width: 334px;
    float: left;
    color: #444;
    font: normal 12px/20px Segoeui, Arial, Verdana, serif;
}

ul.checkout_list li.active .list_body form.login {
    float: right;
}

ul.checkout_list li.active .list_body form h3 {
    font: normal 16px/16px Bitter, Myriad Pro, Verdana, serif;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

ul.checkout_list li.active .list_body form.checkout_or ul.radio {
    padding: 0 0 0 30px !important;
    list-style: none !important;
}

ul.checkout_list li.active .list_body form.checkout_or ul.radio li {
    line-height: 17px;
    margin: 0 0 2px 0;
}

ul.checkout_list li.active .list_body form.checkout_or ul.radio .niceRadio {
    vertical-align: middle;
}

ul.checkout_list li.active .list_body form.checkout_or input[type="submit"] {
    width: 132px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

form.registed strong {
    color: #707070;
    font: bold 13px/13px Segoeui-Bold, Myriad Pro, Verdana, serif;
}

ul.checkout_list li.active .list_body form.login input[type="text"],
ul.checkout_list li.active .list_body form.login input[type="email"] {
    width: 312px;
    margin: 5px 0 13px 0;
}

ul.checkout_list li.active .list_body form.login strong {
    color: #707070;
}

ul.checkout_list li.active .list_body form.login .remember {
    color: #777;
}

ul.checkout_list li.active .list_body form.login .remember .niceCheck {
    vertical-align: middle;
}

ul.checkout_list li.active .list_body form.login a.forgot {
    float: right;
    font-size: 12px;
    color: #777;
    margin: 0 0 0 15px;
    line-height: 17px;
}

ul.checkout_list li.active .list_body form.login .submit {
    margin: 35px 0 0 0;
    height: 35px;
    color: #c3293a;
    font: normal 12px/35px Segoeui, Arial, Verdana, serif;
}

ul.checkout_list li.active .list_body form.login .submit input[type="submit"] {
    float: left;
    margin: 0 100px 0 0;
    width: 108px;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
}

/*************
 * Blog Post *
 *************/
article.post {
    padding: 0 0 26px 0;
}

article.post + article.post {
    border-top: 1px solid #e0e0e0;
}

article.post h2.title_article {
    margin-top: 23px;
}

article.post h2 a {
    color: #444;
    text-decoration: none;
    font: normal 20px/20px Bitter, Myriad Pro, Verdana, serif;
}

article.post .footer_article {
    padding: 0px 0 0 0;
    height: 25px;
    color: #777;
    font: italic 12px/25px Segoeui-Italic, Arial, Verdana, serif;
}

article.post .footer_article .number_c {
    float: right;
    width: 26px;
    height: 25px;
    text-align: center;
    color: #777;
    font: normal 13px/20px Segoeui, Arial, Verdana, serif;
    background: url(../img/n_com.png) left top no-repeat;
}

article.view_post {
    border-bottom: 1px solid #e0e0e0;
}

/*****************
 * Comments blog *
 *****************/
.comments_blog {
    margin: 38px 0 38px 0;
}

.comments_blog .comments li {
    min-height: 85px;
    border-top: 0 none !important;
    border-bottom: 1px solid #e0e0e0;
}

.comments_blog .comments .avatar {
    float: left;
    height: 85px;
    width: 85px;
    margin: 0 22px 22px 0;
}

.comments_blog .comments p {
    margin-top: 5px !important;
}

/**************
 * Top button *
 **************/
#top_button {
    margin: 0 0 65px 0
}

.button_block {
    display: block;
    width: 312px;
    height: 101px;
    padding: 0px 0px 0px 0px;
    color: #777;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    text-decoration: none;
}

.button_block img {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

a:hover.button_block {
    border: 1px solid #ccc;
    text-decoration: none
}

.best_price {
    background: url(../img/best_price.png) no-repeat 13px 50%
}

.new_smells {
    background: url(../img/new_smells.png) no-repeat 13px 50%
}

.only_natural {
    background: url(../img/only_natural.png) no-repeat 13px 50%
}

/************
 * Carousel *
 ************/
.carousel {
    margin: 0 0px 70px;
}

.carousel .c_header {
    height: 50px;
    margin: 0 12px 42px;
    border-bottom: 1px solid #e0e0e0;
}

.carousel .c_header .grid_10 {
    margin-left: 0;
}

.carousel .c_header .grid_2 {
    margin-right: 0;
}

.carousel .c_header h2 {
    margin: 9px 0 0 0;
    font-size: 24px;
}

.arows {
    display: block;
    float: right;
    width: 41px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    background: #f1f3f5;
    margin: 0px 0 0 8px;
    color: #444;
    font: bold 15px/41px Arial, Verdana, serif;
    opacity: 0.85;
}

a:hover.arows {
    background: #444;
    color: #fff;
    text-decoration: none
}

.arows span {
    display: block;
    margin: 13px 0 0 16px;
    width: 10px;
    height: 15px;
    text-indent: -9999px;
    background: url(../img/bg_arows.png) no-repeat left top;
}

.arows.next span {
    background: url(../img/bg_arows.png) no-repeat right top;
}

.arows:hover span {
    background: url(../img/bg_arows.png) no-repeat left bottom;
}

.arows.next:hover span {
    background: url(../img/bg_arows.png) no-repeat right bottom;
}

.list_product {
    padding: 2px 0 0 0
}

.list_product li {
    position: relative;
    height: 320px;
    float: left;
}

.product:hover {
    border: 1px solid #59b7c2;
    box-shadow: 0px 0px 4px #59b7c2;
    -moz-box-shadow: 0px 0px 4px #59b7c2;
    -webkit-box-shadow: 0px 0px 4px #59b7c2;
}

.product {
    width: 226px !important;
    height: 316px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
}

img.sale {
    position: absolute;
    margin: -4px 0 0 -4px;
    z-index: 999;
}

.product .prev {
    width: 210px;
    height: 210px;
    margin: 8px 0 10px 8px;
    text-align: center;
    background: #fafafa;
}

.product .prev a {
    width: 210px;
    height: 210px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
/ / display : block;
/ / height : auto;
/ / margin-top : expression((105 -parseInt(offsetHeight) / 2) < 0 ? "0" : 105 -(parseInt(offsetHeight) / 2) + 'px');
}

.product .prev img {
    max-width: 210px;
    max-height: 210px;
}

.product h3.title {
    height: 43px;
    padding: 3px 8px 0;
    margin: 0px;
    font: normal 13px/18px Bitter, Myriad Pro, Verdana, serif;
    color: #777;
    border-bottom: 1px solid #e0e0e0;
}

.product .cart .price {
    float: left;
    height: 40px;
    width: 81px;
    padding: 1px 8px 0;
    margin: 0px;
    font: normal 12px/18px Bitter, Myriad Pro, Verdana, serif;
    color: #2e8f9a;
    border-right: 1px solid #e0e0e0;
}

.product .cart .price .vert {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
/ / display : block;
/ / height : auto;
/ / margin-top : expression((20 -parseInt(offsetHeight) / 2) < 0 ? "0" : 20 -(parseInt(offsetHeight) / 2) + 'px');
}

.product .cart .price .price_old {
    color: #777;
    font: normal 11px/18px Segoeui, Arial, Verdana, serif;
    text-decoration: line-through;
    margin: 0px 0 0 0;
}

.product .cart .obn,
.product .cart .like,
.product .cart .bay {
    width: 42px;
    display: block;
    float: left;
    height: 41px;
    margin: 0px;
    border-right: 1px solid #e0e0e0;
}

.product .cart .obn {
    background: url(../img/bg_obn.png) no-repeat 50% 50%;
}

.product .cart .like {
    background: url(../img/bg_like.png) no-repeat 50% 50%;
}

.product .cart .bay {
    background: url(../img/bg_bay.png) no-repeat 50% 50% #f5f7f9;
    border: 0 none;
}

.product .cart a:hover.obn,
.product .cart a:hover.like,
.product .cart a:hover.bay {
    background-color: #eff7ff;
}

/******************
 * Content bottom *
 ******************/
#content_bottom {
    margin: 0 0 70px 0;
}

.bottom_block {
    padding: 15px 20px 5px;
    min-height: 280px;
    line-height: 18px;
    background: #f5f7f9;
}

.bottom_block h3 {
    margin: 0;
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
}

.bottom_block p {
    margin: 0 0 20px;
    font: normal 11px/17px Segoeui, Arial, Verdana, serif;
}

.news ul {
    list-style: none;
}

.news ul li {
    list-style: none;
    margin: 0 0 20px 0;
    font: normal 11px/17px Segoeui, Arial, Verdana, serif;
}

.news ul li a {
    text-decoration: none;
}

.news ul li a:hover {
    text-decoration: underline;
}

.news ul time {
    clear: both;
    display: block;
    font: italic 11px/17px Segoeui-Italic, Arial, Verdana, serif;
}

form.letter_form {
    clear: both;
    min-height: 35px;
}

form.letter_form .l_form {
    float: left;
    width: 203px;
    height: 33px;
    padding: 0 5px 0 8px;
    border: 1px solid #ccc;
    border-right: 0 none;
    color: #777;
    background: #fff;
    border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -khtml-border-radius: 2px 0 0 2px;
    behavior: url(PIE.htc);
}

form.letter_form #submit {
    float: left;
    width: 25px;
    height: 35px;
    padding: 0;
    border: 1px solid #ccc;
    border-left: 0 none;
    color: #777;
    background: url(../img/bg_newsletter.png) no-repeat center center #fff;
    border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -khtml-border-radius: 0 2px 2px 0;
    behavior: url(PIE.htc);
    cursor: pointer;
}

form.letter_form #submit:hover {
    opacity: 0.8;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.lettel_description {
    padding: 0px 15px 0 55px;
    margin: 23px 0 0 0;
    min-height: 45px;
    background: url(../img/let_d.png) no-repeat left top;
    font: italic 11px/17px Bitter-Italic, Myriad Pro, Verdana, serif;
}

/**********
 * footer *
 **********/
footer {
}

.f_navigation {
    height: 195px;
    padding: 58px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: url(../img/bg_footer.png) repeat left top;
}

.f_navigation h3 {
    padding: 0 0 10px 0;
    margin: 0 0 23px 0;
    font: normal 18px/18px Bitter, Myriad Pro, Verdana, serif;
    border-bottom: 1px solid #e0e0e0;
}

ul.f_contact li {
    list-style: none;
    height: 22px;
    margin: 0 0 7px 0;
    padding: 0 0 0 25px;
    background: url(../img/li_adr.png) no-repeat 1px 50%;
    font: 12px/22px Segoeui, Arial, Verdana, serif;
}

ul.f_contact li + li {
    background: url(../img/li_phone.png) no-repeat 0px 50%;
}

ul.f_contact li + li + li {
    background: url(../img/li_let.png) no-repeat 0px 50%;
}

.f_navigation nav.f_menu ul {
    list-style: none;
}

.f_navigation nav.f_menu ul a {
    color: #777;
    font: 12px/22px Segoeui, Arial, Verdana, serif;
}

.f_navigation nav.f_menu ul a:hover {
    text-decoration: underline;
    color: #444;
}

.f_info {
    height: 70px;
    background: #f9fbfc;
}

.f_info p.copyright {
    color: #999;
    font: 11px/70px Segoeui, Arial, Verdana, serif;
}

.soc {
    margin: 23px 0 0 0;
}

.soc a {
    display: block;
    float: right;
    width: 21px;
    height: 21px;
    margin: 0 0 0 4px;
    background-image: url(../img/bg_soc.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.soc a.facebook {
    background-position: 0 0;
}

.soc a.twitter {
    background-position: -21px 0;
}

.soc a.google {
    background-position: -42px 0;
}

.soc a:hover.facebook {
    background-position: -63px 0;
}

.soc a:hover.twitter {
    background-position: -84px 0;
}

.soc a:hover.google {
    background-position: -105px 0;
}

/**************
 * form_style *
 **************/
.form_style {
    margin: 0 -12px;

}

.form_style input[type="text"],
.form_style select, .form_style .selectBox {
    width: 206px;
}

.form_style textarea {
    width: 476px
}

.form_style input[type="submit"] {
    width: 118px;
    float: left;
    margin: 0 22px 0 0;
}
